html {
  height: 200%;
}
#svg_1,
#svg_2,
#svg_3,
#svg_4,
#svg_5 {
  position: fixed ;
  width: 200px;
  height: 200px;
}
#svg_1 {
  margin-left: 20px;
}
#svg_2 {
  margin-left: 240px;
}
#svg_3 {
  margin-left: 460px;
}
#svg_4 {
  margin-left: 680px;
}
#svg_5 {
  margin-left: 900px;
}
/* Définir la couleur de fond, la couleur du contour, l'épaisseur du contour du path */
#svg_1 path,
#svg_2 path,
#svg_3 path,
#svg_4 path,
#svg_5 path {
  stroke-width: 3;
  stroke: #654f93;
  fill: #fff;
}
