html {
  height: 200%;
}
#svg_1,
#svg_2,
#svg_3,
#svg_4,
#svg_5 {
  position: fixed ;
  width: 300px;
  height: 300px;
}
#svg_1 {
  margin-left: 250px;
}
#svg_2 {
  margin-left: 500px;
}
#svg_3 {
  margin-left: 750px;
}
#svg_4 {
  margin-left: 1000px;
}
/* Définir la couleur de fond, la couleur du contour, l'épaisseur du contour du path */
#svg_1 path,
#svg_2 path,
#svg_3 path,
#svg_4 path,
#svg_5 path {
  stroke-width: 1.5;
  stroke: #ff5656;
  fill: #fff;
}
